@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
} */

body{
    height: 100%;
    width: 100%;
    background-position: "top center";
    background-attachment: fixed;    
    /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://img.freepik.com/free-photo/yellow-sofa-wooden-table-living-room-interior-with-plant_41470-3559.jpg?w=2000");     */
    object-fit: 'cover';    
    background-repeat: 'no-repeat';
    /* background-color: black; */
    /* opacity: 1;  */
    /* opacity:1 -> 원래 색, 0.5 투명 반 */
}


.login-overlay{
  position: ab;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.5;
}